<div style="text-align: center; font-size: x-large">
  <a style="margin-right: 20px" routerLink="/productsList" routerLinkActive="active">Product List</a>
  <a style="margin-right: 20px" routerLink="/order" routerLinkActive="active">Order</a>
  <a style="margin-right: 20px" routerLink="/signin" routerLinkActive="active">Signin</a>
  <a style="margin-right: 20px" routerLink="/login" routerLinkActive="active">Login</a>
  <span style="text-align: right; display:block">{{ toShowStr }}</span>
</div>
